


body {
  font-family: Arial, sans-serif;
  background :rgb(12, 10, 10);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  text-align: center;
  color: #5d84aa;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.calculator {
  background: #1a1d1e;
  padding: 60px;
  border-radius: 100px;
  box-shadow:  rgba(108, 125, 100, 0.2);
}

#display {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  padding: 8px;
  border:none ;
  border-radius: 70px;
  text-align: right;
  color: aliceblue;
  
  
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 10px;
}

button {
  height: 50px;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  background: transparent;
  color: rgb(229, 225, 225);
  cursor: pointer;
  box-shadow: -8px -8px 15px rgb(255, 255, 255, 0.1);
  width: 60px;
  height: 60px;
}
.Operator{
  color: #22e6cf;
  width: 70px;


}

button:hover {
  background: #333f3d;
}

.equal {
  grid-column: span 1;
  background: #e67e22;
}
